{% extends 'base.html' %}

{% block javascript %}
  <script type="text/javascript">
    $(function () {
      $(".js-confirm-delete").click(function () {
        return confirm("Are you sure?");
      });
    });
  </script>
{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'review_list' %}">Reviews</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ review.title }}</li>
    </ol>
  </nav>
  <h2 class="mb-4">{{ review.title }}</h2>
  <div class="card mb-4">
    <div class="card-header">
      {% include 'reviews/includes/menu.html' with active='articles' %}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <a href="{% url 'import_excel' review.pk %}" class="btn btn-sm btn-primary" role="button">Import from excel</a>
          <form method="post" action="{% url 'delete_all_articles' review.pk %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-outline-danger js-confirm-delete" role="button">Remove all articles</button>
          </form>
        </div>
        <div class="col-6">
          <div class="float-right">
            {% include 'includes/pagination.html' %}
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped mb-0">
      <thead>
        <tr>
          <th class="w-25">Authors</th>
          <th class="w-25">Title</th>
          <th class="w-50">Abstract</th>
        </tr>
      </thead>
      <tbody>
        {% for article in articles %}
          <tr>
            <td>{{ article.authors }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.abstract|truncatechars:300 }}</td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">
              You haven't imported any article yet. <a href="{% url 'import_excel' review.pk %}">Import from excel</a>.
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if is_paginated %}
      <div class="card-footer">
        <div class="float-right">
          {% include 'includes/pagination.html' %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
