{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-6">
      <h2 class="mb-4">Create a criteria</h2>
      <div class="card mb-4">
        <div class="card-body">
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success" role="button">Create criteria</button>
            <a href="{% url 'criteria_list' review.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
