{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'review_list' %}">Reviews</a></li>
      <li class="breadcrumb-item"><a href="{% url 'article_list' review.pk %}">{{ review.title }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Import from Excel</li>
    </ol>
  </nav>
  <h2 class="mb-4">Import from Excel</h2>
  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success" role="button">Upload</button>
  </form>
{% endblock %}
